config section 'mqtt_sub_sct'
	option enable ''
	option host ''
	option port ''
	option user ''
	option pass ''
	option cert_file ''

config sender
	option username ''
	option password ''
	option hostname ''
	option cert 	''

config topic
	option name ''

config event
	option topic ''
	option key ''
	option type ''
	option compare_sign ''
	option compare_value ''
	list email '' 